.commonPage {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    height: $header-height;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    .title {
      font-size: 20px;
    }
  }

  .mainContent {
    flex: 1;
    overflow-y: auto;
  }
}
